.features {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  flex-direction: column;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.fontSize {
  text-align: center;
  font-size: xx-large;
}

.access_button {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px 100px 10px 100px;
  font-size: 2em;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}
